/* Image stylesheet */

/* Colors
red:         #993120
green:       #94B26F
light green: #B6D491
yellow:      #F2DC87
dark brown:  #332318
light brown: #4C2516
*/

html { height: 100%; width: 100%; }
body { width: 100%; /*min-width: 950px;*/ border: 1px solid #4C2516; margin: 0; padding: 0; 
font: 14px Calibri,Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; }
p, td, ul, ol, li, dl, dt, dd {
	font-family: Calibri,Verdana,Lucida,Arial,Helvetica,sans-serif;
}
img { border: none; max-width: 950px; }
table { margin-left: auto; margin-right: auto; border-collapse: collapse; }
table tr th, table tr td { vertical-align: top; text-align: center; padding: 3px; }
a, a:visited { color: #993120; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Layout */
#header { height: 4em; padding-top: 1em; text-align: center; background: #993120; color: #000000 }
#header h1 { margin: 0; padding: 0; }
#header a, a:visited { color: #FFFFFF; }
#main { text-align: center;  padding: 0; /*padding-left: 0; padding-right: 0; */}
#content { /*padding: 10px; padding-left: 100px; padding-right: 100px;*/ }
#content h2 { width: 100%; color: #4C2516; }
#content table { margin: auto; border: 1px solid #000000; }
#footer { clear: both; height: 2.5em; margin: 1em 0 0; text-align: right; background: #4C2516; color: #F2DC87; }
#footer p { margin: 0; padding: 0.5em 1em; }

/* CRUD */
.index table { float: center; /* clear: both; width: 100%; */ }
.index table  tr td { border: 2px solid #666666; }
.show table, .edit table, .delete table, .new table { margin: auto; border: 2px solid #666666; }
.notice { height: 1.25em; padding: 0.5em; text-align: center; background: #B6D491; color: #4C2516; }
.form-buttons { text-align: center; margin: 1em 0; }

#show_image { margin: 1.5em 0; }

/* Action buttons */
a.action { 
	padding: 2px 5px;
	background: #94B26F; color: #4C2516; border: 1px solid #4C2516; 
	text-decoration: none; font-size: 1.25em; text-align: center;
}
a.action:hover { background: #B6D491; }
/*.index a.action { background: #FFFFFF; border: 0 solid #FFFFFF; }*/

/* Errors */
/*
.fieldWithErrors  { }
.fieldWithErrors label { color: #AA0000; }
.fieldWithErrors input { }
#errorExplanation { width: 400px; padding: 0; margin: 0 auto 1.5em; border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#errorExplanation h2 { font-weight: bold; font-size: 12px; padding: 5px 5px 5px 15px; margin: 0; width: 380px; background-color: #AA0000; color: #FFFFFF; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; }
#errorExplanation ul li { list-style: square; }*/