<table id="show_image" summary="Show Image">
	<tr>
		<th><b><%= @image.caption %></b></th>
	</tr>
	<tr>
		<td><%= image_tag(@imurl, :alt => @image.alt_text, :border=>0) %></td>
	</tr>
	<tr>
		<td><i><%= @image.description %></i></td>
	</tr>
</table>
