<% @page_title = "Index" %>
<div class="images index">
<h2>Images</h2>
<%= link_to("Add New Image", {:action => "new"}, :class => "action new") %><br />
<br />
<% if @images.blank? %>

No images in Image Library.

<% else %>

<table class="listing" summary="Image list">
	<% num_cols = 3 %>
	<% @images.each_with_index do |image, index| %>
		<% if index % num_cols == 0 %>
		<tr>
		<% end #if %>
			<td>
			<%= link_to image_tag(@imurl[index], :alt => image.alt_text, :width=>200, :height=>200, :border=>0), 
				{:action => "show", :id => image.id}, 
				:class => "index" %>
			</td>
		<% if (index + 1) % num_cols == 0 || (index + 1) == @imurl.count %>
		</tr>
		<% end #if %>
	<% end #each do %>
</table>

<% end #if-else %>

</div>